# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build artifacts
DerivedData/
build/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.xcarchive

# SwiftPM
.swiftpm/

# CocoaPods / Carthage (not used in this project, but safe to ignore)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
